

.home h3{
    text-align: center;
    margin: 50px;
    padding: 10px;
}

.home .selectnumbercell{
    display: inline;  
    text-align: center;
}
.home .selectnumbercell span{
    font-size: 150%;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner span{
    font-size:  150%;
}

.my-btn-x{
    width: 40px;
    height: 40px;
    font-family: 'Franklin Gothic Medium';
    background-color: green;
    font-size: 140%;
    color: #1A237E;
    outline: none;
}

.my-btn-o{
    width: 40px;
    height: 40px;
    background-color: green;
    font-size: 140%;
    color: #E65100;
    outline: none;
}

.list-steps{
    max-height: 500px;
    overflow: scroll;
}



  